{% extends "main.html" %} {%block title %}About Us Page{%endblock %} {%block content %}
<div class="body-wrap">

    <header class="about-banner">
        <div class="about-banner-text">
            <h1 style="color: white;">The Future of Online Learning Platform for Yong and not so Young is here. We are trying to provide information in a fun way for people from all ages.
            </h1>
        </div>
    </header>

    <main id="posts-container" class="footer-fix">
        <section class="post our_goals">
            <div class="line">
                <h2>OUR GOALS</h2>
            </div>
            <img style="max-width: 100%;" src="/images/about-us-post.jpg" alt="">
            <p>Due to the Covid-19 situation people are stuck at home with their kids, who have homework, home entertainment is not endless, and homework has to be done.<br> We are trying to build a platform that is going to help people from all ages to
                learn or refresh their knowledge. In future instances of the Website we are going to turn the Platform it to a Game Learning environment not only for the Kings and Queens of Scotland we are going to add multiple Subjects like Biology,
                Chemistry and so on.
                <br><br> The end goal of the Website is to become big enough so it can be used in Schools.
                <br><br> The way we are building the platform is to make it as safe as possible for our Users we are not Collecting any more data from what we need, as we are expecting the majority of our users to be younger people. We are not going to
                add any marketing adds and we wont share event the little data that we collect from our users.
            </p>
        </section>


</div>
{%endblock %}