{% extends "main.html" %} {%block title %}Register{%endblock %} {%block content %}
<div class="bg bg-image-logReg">
    <div class="body-wrap">
        <header>

        </header>

        <div class="log-form-wrap">
            <form id="create-acc" method="POST" action="#">
                <h2>Create an Account <i class="fa fa-user"></i></h2>
                <input type="text" name="username" placeholder="Username" required>
                <input type="number" size="4" name="age" min="4" placeholder="Age" required>
                <input type="password" name="password" placeholder="Password" required>
                <button class="btn btn-create-acc" type="submit">Create</button>

            </form>
        </div>
    </div>
</div>
{%endblock %}